body {
    margin: 0;
    background-color: #e3e1df;
    font-family: Anton;
    font-weight: 400px;
}
a:link { 
    text-decoration: none;
    color:black; 
}

a:visited { text-decoration: none; color:black; }

a:hover { text-decoration: none; color:darkcyan; }

a:active { text-decoration: none; color:black; }
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.logo {
    float: left;
    padding: 5px 0;
    
}
header {
    background: #f6e0b5;
    border: 3px solid #66545e;
}
header::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: right;
    top: 0;
    z-index: 1;
    display: flex;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 90%;
    justify-content: right;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

nav a::hover {
    color: #000;
}

nav a::before {
    content:'';
    display: block;
    height: 5px;
    background-color: #66545e;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
.image {
    --gap: 16px;
    --num-cols: 4;
    --row-heights: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-heights);
    gap: var(--gap);
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-col-2 {
    grid-column: span 2;
}

.image-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .image {
        --num-cols: 2;
        --row-heights: 200px;
    }
}