*{
    margin: 0;
    padding: 10px;
    background-image:url('/images/cpp.jpg');
}
.brand {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center;
    background: #000;
}
.wrap-flex {
    display: flex;
    font-size: 30px;
    font-family: Georgia, serif;
    justify-content: center;
    background-color: transparent;
}