
body {
    margin: 0;
    background: #e3e1df;
    line-height: 1.6;
    height: 100vh;
    font-family: 'Anton';
    font-weight: 400;
}
.container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
header {
    background: #f6e0b5;
    border: 3px solid #66545e;
}
.logo {
    float: left;
    padding: 5px 0;
    
}
header::after {
    content: "";
    display: table;
    clear: both;
}
nav {
    float: right;
    top: 0;
    z-index: 1;
    display: flex;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 90%;
    justify-content: right;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

nav a::hover {
    color: #000;
}

nav a::before {
    content:'';
    display: block;
    height: 5px;
    background-color: #66545e;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

h4 {
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.tuxBilly {
    float:left;
    width: 45%;
    padding-top: 50px;

}
/* Header font */
h2 {
    font-family: Anton;
    text-transform: uppercase;
    margin-top: 10%;
    margin-bottom: 0%;
}
/* Main description settings */
.description {
    text-align: justify;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 20px;
    margin-top: 0%;
    margin-left: 200px;
    margin-right: 200px;
}


